.wrapper {
    top: 257px;
    width: 94px;
    height: 73px;
    background: #AEAEAE;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-weight: 400;
    line-height: 24px;    
    color: #000;
}
.button {
    top: 5px;
    background: #AEAEAE;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.wrapper {
    top: 257px;
    width: 94px;
    height: 73px;
    background: #AEAEAE;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-weight: 400;
    line-height: 24px;    
    color: #000;
}
.button {
    top: 5px;
    background: #AEAEAE;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

